*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E6E6E6;
  color: black;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-flex{
  position: absolute;
  background-color: #A0C1D1;
}